<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264050261471-bo1unp0lth9353tvudt156loh4qgdp7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264050261471-bo1unp0lth9353tvudt156loh4qgdp7f</string>
	<key>API_KEY</key>
	<string>AIzaSyDiwoXAL0xMm4CGuwm58YLaXjwP3anBNfc</string>
	<key>GCM_SENDER_ID</key>
	<string>264050261471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proxima.iconfarm</string>
	<key>PROJECT_ID</key>
	<string>iconfarm-proxima</string>
	<key>STORAGE_BUCKET</key>
	<string>iconfarm-proxima.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264050261471:ios:20efdd25b873c9b16f586a</string>
	<key>DATABASE_URL</key>
	<string>https://iconfarm-proxima.firebaseio.com</string>
</dict>
</plist>